.post {
  .post__body {
    border-bottom: 1px solid #eeeeee92;
    padding: 1rem 1.5rem;
    padding-bottom: 0.7rem;

    .post__header {
      display: flex;

      .post__avatar {
        width: 100%;

        display: flex;
        gap: 0.6rem;

        // img {
        // }
      }
    }

    .post__text {
      width: 100%;

      h3 {
        font-size: 1rem;
        font-weight: 800;

        display: flex;
        align-items: end;

        .header__special {
          font-weight: 500;
          display: flex;
          align-items: center;

          svg {
            font-size: 1rem;
            margin-left: 0.15rem;
          }

          p {
            margin-left: 0.3rem;
            color: #eeeeeedb;
          }
        }
      }

      p.post__description {
        font-size: 1rem;
      }

      img.post__image {
        width: 100%;
        margin-top: 1rem;
        border-radius: 15px;
        border: 2px solid #eeeeee92;
      }

      .post__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 0.7rem;

        .footer__icon {
          width: 35px;
          height: 35px;

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          cursor: pointer;

          svg {
            font-size: 1.2rem;
            color: #eeeeeedb;
          }

          &:hover {
            svg {
              color: #fff;
            }
            background: #ffffff5a;
          }
        }
      }
    }
  }
}
