.page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: auto;

  gap: 1rem;

  color: var(--twitter-text);
  background: var(--twitter-background);
}

.page .primary {
  width: 50vw;
  max-width: 600px;
  height: 100vh;
  max-height: 100dvh;
  overflow-y: auto;

  /* background: red; */

  border-left: 1px solid #ffffff89;
  border-right: 1px solid #ffffff89;
}

.page .primary::-webkit-scrollbar {
  display: none;
}
