.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-right: 1rem;

  &:hover {
    .footer__icon.like {
      background-color: rgba(138, 21, 75, 0.705) !important;

      svg {
        color: #f50057 !important;
      }
    }
    span {
      color: #ff216f !important;
    }
  }

  &.liked {
    .footer__icon.like {
      svg {
        color: #ff1a6a !important;
      }
    }

    span {
      color: #f50057 !important;
    }
  }

  .likeBtn {
    animation: likeAnimation 0.4s ease-in;
  }

  span {
    font-weight: 700;
    color: #ffffff7a;
  }
}

@keyframes likeAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}
